---
layout: default
title: welcome
---

{% include header.html %}

<p>UIUIU is a perpetual work in progress. I am documenting and writing and porting and refactoring and assembling right now. Check out <a href="https://github.com/grungerabbit/uiuiu/commits/project">my commits</a> to see my progress, and my <a href="https://github.com/grungerabbit/uiuiu/issues?state=open">open issues</a> to see what's up ahead!</p>
	
<h1>Projects</h1>
<div class="projects">
{% for post in site.posts %}
{% for project in site.projects %}
{% if post.reference == project.reference %}

<div class="project-overview{% if post.featured == true %} featured{% endif %}" {% if post.image %}style="background: url(/lib/img/{{post.image}})"{% endif %}>
<a href="{{project.url}}">
		<h2 class="project__name">{{project.title}}</h2>
		
		<!--<h5>{{post.category}}</h5>-->
			
			
		<div class="project-overview--description">
			<h2 class="project__name">{{project.title}}</h2>
			<p>{{project.subtitle}}</p>
			<p>{{post.date | date_to_string }} <small>current {{post.version}}</small></p>
					
			<ul class="project-overview__libraries">
				{% for customJS in project.customJS %}
				{% if customJS.lib %}
				<li>{{customJS.lib}}</li>
				{% endif %}
				{% endfor %}
			</ul>
					
			<!--{% if post.featured == true && post.description.length > 0 %}<p class="description__content">{{post.description}}</p>{% endif %}-->
		</div>

</a>
</div>


{% endif %}


{% endfor %}
{% endfor %}
</div>

<div class="documentation">
	<h1>Documentation</h1>
	<ul class="documentation__list">
	{% for post in site.posts %}
		<li class="doc__post">
			<article class="post__content">
				<h2><a href="{{post.url}}">{{post.title}}</a></h2>
				{{post.content}}
			</article>
			<aside class="post__notes">
				{% for project in site.projects %}
				{% if post.reference == project.reference %}
					<a href="{{project.url}}">see project</a>
				{% endif %}
				{% endfor %}
				
				
				{% if post.notes.length > 0 %}
				<ol>
					{% for note in post.notes %}
					<li>{{note.content}}</li>
					{% endfor %}
				</ol>
				{% endif %}
			</aside>
		</li>
	{% endfor %}
	</ul>
</div>


{% include footer.html %}