---
layout: default
title: welcome
---

{% include header.html %}
	

<div class="documentation">
	<h1>Documentation</h1>
	<ul>
	{% for post in site.posts %}
		<li><a href="{{post.url}}">{{post.title}}</a></li>
	{% endfor %}
	</ul>
</div>

<h1>Projects</h1>

{% for post in site.posts %}
{% for project in site.projects %}



{% if post.reference == project.reference %}

<div class="project-overview{% if post.featured == true %} featured{% endif %}" {% if post.image %}style="background: url(/lib/img/{{post.image}})"{% endif %}>
<a href="{{project.url}}">
		<h2 class="project__name">{{project.title}}</h2>
		
		<!--<h5>{{post.category}}</h5>-->
			
			
		<div class="project-overview--description">
			<h2 class="project__name">{{project.title}}</h2>
			<p>{{project.subtitle}}</p>
			<p>{{post.date | date_to_string }} <small>current {{post.version}}</small></p>
					
			<ul class="project-overview__libraries">
				{% for customJS in project.customJS %}
				{% if customJS.lib %}
				<li>{{customJS.lib}}</li>
				{% endif %}
				{% endfor %}
			</ul>
					
			<!--{% if post.featured == true && post.description.length > 0 %}<p class="description__content">{{post.description}}</p>{% endif %}-->
		</div>

</a>
</div>


{% endif %}


{% endfor %}
{% endfor %}



{% include footer.html %}