---
layout: default
---
<div class="temp">
<a href="/">back</a>
	<ul class="documentation__listing">
	{% for post in site.posts %}
		<li><a href="{{post.url}}">{{post.title}}</a></li>
	{% endfor %}
	</ul>
</div>


	
	<header class="post__banner">
		<div class="site">
			{% for project in site.projects %}
			{% if project.reference == page.reference %}
			
			
			<div class="post__title">
				<h1 class="project__name"><a href="{{project.url}}">{{project.title}}</a></h1>
			</div>
			
			<div class="post__image">
			{% if page.image %}
			<a href="{{project.url}}" title="a still image of {{project.title}}. Click through to the actual project.">
				<img src="/lib/img/{{page.image}}">
			</a>
			{% endif %}
			</div>
			
			{% endif %}
			{% endfor %}
			
			<div class="post__description">
				<blockquote>{{page.description}}</blockquote>
			</div>
		</div>
	</header>
	
	<div class="site">
		<div class="post__data">
			<header class="post__metadata">
				
				<h6>Dates</h6>
				<small class="post__dates">First published: {{ page.date | date: "%m/%d/%Y" }}</small>
				{% if page.lastmod %}<p>Last modified: {{ page.lastmod }}</p>{% endif %}
				
				<hr>
				
				<h6>Libraries</h6>		
				{% for project in site.projects %}
					{% if project.reference == page.reference %}
					{% for file in project.customJS %}
					<ul>
						{% if file.lib %}
						<li class="project__library">{{file.lib}}</li>
						{% endif %}
					</ul>
					{% endfor %}
					{% endif %}
				{% endfor %}
				<hr>
				
				
				<h6>Status</h6>
				<small>
				{% if page.image %}
					Beta - {{ page.version }}
				{% else %}
					Alpha - {{ page.version }}
				{% endif %}
				</small>
				{% if page.status %}<p>{{ page.status }}</p>{% endif %}	
				<hr>

				{% if page.todo %}
					<h6>TODO</h6>
					<ul>
					{% for do in page.todo %}	
					<li>{{do}}</li>
					{% endfor %}
					</ul>
				
				<hr>
				{% endif %}
			</header>
			
			{% if page.amazon %}
			<h6>Inspiration</h6>
			
			<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="{{page.amazon}}&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=CC00FF&bg_color=FFFFFF">
			</iframe>
			
			<hr>
			{% endif %}
			
			<blockquote class="NTS">
				<p>What is it and why is it important? Or why was the question interesting? What were you asking yourself? What were you inspired by? What were you interested in exploring?</p>

				<p>How does it work? How did you build it? What libraries do you use and why? Methodology? What kind of skills did you have at the time?</p>

				<p>Results? How long did it take you? How done is it? Are you satisfied, what parts are you looking to improve?</p>
			</blockquote>
		</div>
		
		<div class="post__essay">
			{{ content }}
		</div>
		
		<aside class="post__sidebar">
			<ol class="post__annotate">
				{% for note in page.annotations %}
				<li id="note-{{ forloop.index }}">{{note}}</li>
			{% endfor %}
		</aside>
		
		
		<div class="code">
			<h3>Code</h3>
			
		{% for project in site.projects %}
		{% if project.reference == page.reference %}
			{% for file in project.customJS %}
				{% if file.file %}
					<script src="http://gist-it.appspot.com/https://github.com/grungerabbit/uiuiu/blob/master/lib/js/interactions/{{file.file}}"></script>
				{% endif %}
			{% endfor %}
		{% endif %}
		{% endfor %}
		</div>
	</div>
</div>

<script src="/lib/js/app.js"></script>