---
layout: blank
---

<header class="project-header small">
	<a href="/">UIUIU</a>
	{% for post in site.posts %}
		{% if post.reference == page.reference %}
		<a href="{{post.url}}">
		{% endif %}
	{% endfor %}
	<i class="project-header__question ion-ios7-help" data-pack="ios7" data-tags="question, information, ?">info</i>
	{% if page.reference %}
	</a>
	{% endif %}
	
	<div class="project__metadata">
		<div class="project-header__title">
			<h1 class="title">{{ page.title }}</h1>
			<h3>{{ page.subtitle }}</h3>
		</div>
		
		<hr>
		
		{% for post in site.posts %}
			{% if post.reference == page.reference %}
		
		
				{% if post.amazon %}
				<div class="project__amazon">
					<h6>If you like, check out my inspiration!</h6>
					
					<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="{{post.amazon}}&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=CC00FF&bg_color=FFFFFF">
					</iframe>
				</div>
				
				<hr>
				{% endif %}
				
				
				
				
				<aside class="project-info">
					<p>{{ post.description }}</p>
				</aside>
		
		
			<a href="{{post.url}}">Learn more</a>
			{% endif %}
		{% endfor %}
	</div>
</header>
	
	<div class="project">
		{{ content }}
	</div>