---
layout: blank
---

<header class="post-header small">
	<a href="/">back</a><hr>
	<i class="post-header__question ion-ios7-help" data-pack="ios7" data-tags="question, information, ?">info</i>
	
	<div class="post__metadata">
		<div class="post-header__title">
			<h1 class="title">{{ page.title }}</h1>
			<h3>{{ page.subtitle }}</h3>
		</div>
		
		<hr>
		
		{% if page.amazon %}
		<div class="post__amazon">
			<h6>If you like, check out my inspiration!</h6>
			
			<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="{{page.amazon}}&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=CC00FF&bg_color=FFFFFF">
			</iframe>
		</div>
		
		<hr>
		{% endif %}
		
		
		<aside class="post-info">
			<h6>Description</h6>
			<p>{{ page.description }}</p>
		</aside>
		
		{% if page.tech %}
		<div class="post__metadata--technology">
			<h6>Technology</h6>
			<p>{{ page.tech }}</p>
		</div>
		{% endif %}
	</div>
</header>
	
	<div class="post">
		{{ content }}
	</div>